spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: false

logging:
  level:
    com.cloudapp.socialforum: INFO
    org.springframework: WARN
    org.hibernate: WARN
